@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

$backgroundColor: #232323;
$primaryColor: #1A1E1F;
$thirdColor: #404040;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-style: none;
}

html {
    scroll-behavior: smooth;
}


section {
    display: flex;
    height: 100%;

    background-color: $backgroundColor;
    color: #CACACA;

    @media (max-width: 670px) {
        flex-direction: column;

        aside {
            > div {
                p {
                    width: 100%!important;
                }
            }
        }
    }

    h1, h2 {
        font-family: 'Roboto', sans-serif;
    }

    main {
        flex: 3;

        padding: 50px;

        .image__container {
            display: flex;
            justify-content: flex-start;

            img {
                border-radius: 50%;
                max-width: 200px;
            }
        }

        .content__container {
            margin-top: 60px;

            p {
                font-family: 'Imprima', sans-serif;
            }
        }

        .owner__container {
            margin-top: 60px;

            > div {
                img {
                    border-radius: 10px;
                    margin-top: 10px;
                    width: 100px;
                }
            }
        }
    }
    aside {
        flex: 1;
        display: flex;

        height: 105vh;
        
        h2 {
            margin: 40px 0;
        }

        flex-direction: column;
        align-items: center;

        background-color: #1D1D1D;

        > div {
            width: 100%;
            overflow-y: auto;

            display: flex;
            justify-content: center;

            p {
                width: 180px;
            }
        }
    }
}
